<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Efficient Portfolio</title>

    <!--Chart.js Script (Old Version due to Global Bug)-->
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
    <script src="{{ url_for('static', filename='js/chart1.js')}}"></script>

    <!--Small img-->
    <link href="static/vendor/fontawesome-free-5.15.4-web/css/all.min.css" rel="stylesheet" type="text/css">

    <!--Style Sheet-->
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!--Custom CSS-->
    <link href="{{ url_for('static', filename='css/sb-admin-2.css')}}" rel="stylesheet">

    <title>My Chart.js Chart</title>
</head>

<body id="page-top">

    <!--Page Wrapper-->
    <div id="wrapper">

        <!--Content Wrapper-->
        <div id="content-wrapper" class="d-flex flex-column">

            <!--Main Content-->
            <div id="content">

                <!--Begin Page Content-->
                <div class="container-fluid">

                    <!--Page Heading-->
                    <div class="row">
                        <div class="mx-auto text-xs font-weight-bold text-primary text-uppercase mb-1">
                            <h1 style="margin-top: 25px;margin-bottom: 2.5rem;">Joel's Portfolio</h1>
                        </div>
                    </div>

                    <!--Ticker Entry-->
                    <div class = "row">
                      <form action="/" METHOD="POST">
                        <input type="text" placeholder="Ticker" name="ticker">
                        <input type="submit" value="Add/Remove Stock" class="btn btn-seconday">
                      </form>
                    </div>

                    <!--Stats Row-->
                    <div class = "row">
                        
                        <!-- Average Return -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                          <div class="row align-items-center">
                                            <div class="col-auto" style="padding-right: 0">
                                              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                Average Return
                                              </div>
                                            </div>
                                            <div class="col-auto">
                                              <i class="fas fa-info-circle text-gray-300" 
                                                data-bs-toggle="tooltip" 
                                                data-bs-placement="top" 
                                                title="The sum of the average daily returns of each stock, multiplied by their weight in the Portfolio"></i>
                                            </div>
                                          </div>
                                          <div class="h5 mb-0 font-weight-bold text-gray-800">
                                            <p>{{average_returns}}</p>
                                          </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i> 
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                         <!-- Volatility -->
                         <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                          <div class="row align-items-center">
                                            <div class="col-auto" style="padding-right: 0">
                                              <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                Volatility
                                              </div>
                                            </div>
                                            <div class="col-auto">
                                              <i class="fas fa-info-circle text-gray-300" 
                                                data-bs-toggle="tooltip" 
                                                data-bs-placement="top" 
                                                title="A statistical measure of the dispersion of returns"></i>
                                            </div>
                                          </div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                              <p>{{volatility}}</p>
                                            </div> <!--{{x}}, Replace with SD from Flask-->
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-hand-holding-usd fa-2x text-gray-300"></i> <!--Change to icon that represents volatility-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                         <!-- Sharpe Ratio -->
                         <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-info shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                          <div class="row align-items-center">
                                            <div class="col-auto" style="padding-right: 0">
                                              <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                                Sharpe Ratio
                                              </div>
                                            </div>
                                            <div class="col-auto">
                                              <i class="fas fa-info-circle text-gray-300" 
                                                data-bs-toggle="tooltip" 
                                                data-bs-placement="top" 
                                                title="The average return earned in excess of the risk-free rate per unit of volatility or total risk"></i>
                                            </div>
                                          </div>
                                            <div class="row no-gutters align-items-center">
                                                <div class="col-auto">
                                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">
                                                      <p>{{sharpe_ratio}}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                           <i class="fas fa-chart-line fa-2x text-gray-300"></i> <!--Sharpe Ratio Icon??-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Number of holdings -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-warning shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                          <div class="row align-items-center">
                                            <div class="col-auto" style="padding-right: 0">
                                              <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                                Number of Holdings
                                              </div>
                                            </div>
                                            <div class="col-auto">
                                              <i class="fas fa-info-circle text-gray-300" 
                                                data-bs-toggle="tooltip" 
                                                data-bs-placement="top" 
                                                title="Number of differnt assets currently held in this portfolio."></i>
                                            </div>
                                          </div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                              <p>{{number_of_stocks}}</p>
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-wallet fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                          </div>
                    </div>

                    <!--First Graph-->    
                    <div class="card shadow mb-4">
                      <div class="card-header py-3">
                          <div class="row">
                            <div class="col-auto" style="padding-right: 0">
                              <h6 class="m-0 font-weight-bold text-primary">Portfolio returns</h6>
                            </div>
                            <div class="col-auto">
                              <i class="fas fa-info-circle text-gray-300" 
                                data-bs-toggle="tooltip" 
                                data-bs-placement="top" 
                                title="Total worth history, including cash and any type on investment."></i>
                            </div>
                          </div>
                      </div>
                      <div class="card-body">
                          <div class="chart-area">
                              <canvas id="myAreaChart"></canvas>
                          </div>
                      </div>
                  </div> 
                  <script src="{{ url_for('static', filename='js/chart1.js')}}" type="text/javascript"> </script>
                  <script type="text/javascript">
                    myData = avg_returns({{labels|tojson}}, {{values|tojson}})
                  </script>

                  <!--Second Graphs-->
                  <div class="card shadow mb-4">
                    <div class='card-header py-3 d-flex flex-row align-items-center justify-content-between'>
                      <div class='row align-items-center'>
                        <div class='col-auto' style="padding-right: 0">
                          <h6 class='m-0 font-weight-bold text-primary'>Portfolio Constitutents</h6>
                        </div>
                        <div class="col-auto" style="padding-right: 0">
                          <i class="fas fa-info-circle text-gray-300"
                          data-bs-toggle= "tooltip",
                          data-bs-placement= "top",
                          title="Shows weigthings of each stock and their respective returns"></i>
                        </div>
                      </div>
                    </div>
                    <div class = "card-body" style="height: '700px'">
                      <div class= "card-body" style="height: '700px'">
                        <div class= "jd-row">
                          <canvas id="myPieChart"></canvas> 
                        </div>
                        <div class="jd-row">
                          <canvas id="myReturnsChart"></canvas>
                        </div>
                      </div>
                    </div>
                  </div>
                  <script src="{{ url_for('static', filename='js/chart2.js')}}" type="text/javascript"> </script>
                  <script type="text/javascript">
                    myData = const_pie({{labels_pie|tojson}}, {{values_pie|tojson}})
                  </script>
                  <script src="{{ url_for('static', filename='js/chart3.js')}}" type="text/javascript"> </script>
                  <script type="text/javascript">
                    myData = const_bar({{labels_pie|tojson}}, {{values_bar|tojson}})
                  </script>
                </div>
            </div>
        </div>
    </div>

     <!-- React -->
     <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>  
     <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>
</body>
</html>